* {
  box-sizing: border-box;
}

body {
  background-color: #f0f6ff;
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary, #5b74e6);
  font-family: "Nanum Square Neo", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.logo {
  width: 200px;
  height: 48px;
  margin-left: 50px;
  margin-top: 50px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  gap: 20px;
}

.title {
  width: 1000px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  word-break: keep-all;
}

.intro {
  color: #b0b0b0;
  font-size: 24px;
  font-weight: 600;
  width: 1000px;
  text-align: center;
  word-break: keep-all;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  gap: 48px;
}

.detail {
  white-space: pre-line;
  width: 1152px;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.qualify {
  white-space: pre-line;
  width: 1152px;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.detailtitle {
  font-size: 36px;
  font-weight: 600;
}

.detailcontent {
  white-space: pre-line;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: white;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.detailcontent li {
  margin-bottom: 10px;
}

.content button {
  width: 180px;
  height: 60px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: #5b74e6;
  border-radius: 100px;
  margin-top: 16px;
  margin-bottom: 88px;
  cursor: pointer;
}

.content button:hover {
  background-color: #3353e0;
  cursor: pointer;
}

.detailsmalltitle {
  font-weight: 600;
  font-size: 20px;
}
