.Onboarding {
  background: #f0f6ff;
  padding: 0.1px;
}

.logo_box {
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 6vh;
  margin-left: 4vw;
  cursor: pointer;
}

.logo_img {
  width: 48px;
}

.logo_text {
  color: #5b74e6;
  font-size: 3.5rem;
  font-family: NanumSquare Neo;
  font-weight: 800;
  word-wrap: break-word;
  padding-top: 5px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.Onboarding_container {
  width: 1012px;
  height: 528px;
  font-size: 24px;
  background: white;
  box-shadow: "0px 3px 10px rgba(85, 85, 85, 0.10)";
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 5.5vh;
}

.Onboarding_content {
  width: 900px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 64px 56px;
}

.Onboarding_line {
  width: 900px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Onboarding_line h4 {
  font-size: 24px;
}

.age_container {
  width: 382px;
}

.age_container input {
  box-sizing: border-box;
  width: 210px;
  height: 70px;
  border-radius: 20px;
  background: #f2f4f6;
  padding: 25px;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}

.age_container input::placeholder {
  color: #b0b0b0;
  font-size: 1.8rem;
}

.age_container input:focus {
  outline: none;
  background-color: #f4f6ff;
}

.age_container span {
  font-size: 18px;
  width: 16px;
  margin-left: 16px;
}

.wrapper_bottom {
  display: flex;
  justify-content: center;
}

.Onboarding_btn {
  width: 180px;
  height: 60px;
  background: #5b74e6;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  font-family: Pretendard Variable;
  font-weight: 600;

  margin-top: 48px;
  margin-bottom: 6.25vh;
}

.Onboarding_btn:hover {
  background: #3353e0;
  cursor: pointer;
}

/* 버튼 클릭 효과 */
.Onboarding_btn:active {
  background: #5b74e6;
}

/* 버튼 비활성화 */
.disabled {
  opacity: 0.5;
  pointer-events: none; /* 마우스 이벤트를 막아 호버 효과나 클릭 효과가 작동하지 않도록 함 */
}
